:root {
  --yellow: #ffff00;
  --grey: #171517dd;
  --offwhite: rgba(255, 250, 254, 0.87);

  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--offwhite);
  background-color: var(--grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
  padding: 0 3.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 0.48rem;
  color: var(--offwhite);
}

a:hover {
  color: #ffffbf;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  font-weight: 400;
}

h1 {
  font-size: 0.85rem;
  font-weight: 700;
  margin: 3rem 0 0;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  opacity: 0.74;
}

.tagline {
  font-size: clamp(1rem, 6vmin, 12rem);
}

span.gradient {
  font-weight: 900;
  color: transparent;
  text-shadow: 0 3px 28px #eee76433;
  background: linear-gradient(45deg,
  #eee764,
  #9affa1,
  #95f1e1,
  #f3afff,
  #ffa9a9),
  radial-gradient(rgba(174, 0, 255, 0.79), rgba(255, 255, 255, 0.808));
  background-blend-mode: overlay color-dodge lighten;
  background-size: 100% 500%;
  -webkit-background-clip: text;
  background-clip: text;
}

@media screen and (prefers-reduced-motion: no-preference) {
  span.gradient {
    animation: aurora 1s infinite alternate-reverse linear,
    text-rainbow 1s infinite alternate-reverse;
  }
  
  @keyframes aurora {
    0% {
      background-position: left top;
    }
    50% {
      background-position: left bottom;
    }
    100% {
      background-position: left top;
    }
  }

  @keyframes text-rainbow {
    0% {
      text-shadow: 0 3px 28px #eee76433;
    }
    25% {
      text-shadow: 0 3px 28px #9affa133;
    }
    50% {
      text-shadow: 0 3px 28px #95f1e133;
    }
    75% {
      text-shadow: 0 3px 28px #f3afff33;
    }
    100% {
      text-shadow: 0 3px 28px #ffa9a933;
    }
  }
}

.links-container {
  display: flex;
  gap: 32px;
  padding: 0 0 3.42rem;
  margin-top: auto;
}

ul.attributes {
  list-style-type: none;
  margin: 0 0 1.2rem;
  padding: 0;
}

ul.attributes li {
  padding: 0 0 0.6rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--grey);
    background-color: #e8e7df;
  }
  
  a {
    color: var(--grey);
  }
  
  a:hover {
    color: #7a777a;
  }
  
  span.gradient {
    background: linear-gradient(45deg,
    #d6a71b,
    #3ddf5e,
    #22c3a0,
    #a136c8,
    #ba3966);

    animation: aurora 1s infinite alternate-reverse linear;
    background-blend-mode: overlay color-burn normal;
    background-size: 100% 500%;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 2px 24px 42px #33333355 !important;
  }
}
